    .vue-toast {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.3);
    }
     
    .vue-tip {
        position: fixed;
        left: 50%;
        min-width: 100px;
        line-height: 40px;
        padding: 0 10px;
        margin-left: -60px;
        text-align: center;
        z-index: 9999;
        font-size: 14px;
        color: #fff;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .7);
          
    }
     
    .vue-tip.tip-center {
        top: 50%;
    }
     
    .vue-tip.tip-bottom {
        bottom: 50px;
    }
     
    .vue-tip.tip-top {
        top: 50px;
    }
     
    .fadeIn {
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        visibility: visible !important;
    }
     
    @keyframes fadeIn {
        0% {
            transform: scale(0);
            opacity: 0.0;
        }
        60% {
            transform: scale(1.1);
        }
        80% {
            transform: scale(0.9);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
     
    @-webkit-keyframes fadeIn {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }
        60% {
            -webkit-transform: scale(1.1);
        }
        80% {
            -webkit-transform: scale(0.9);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }